
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0a14; /* pure dark */
  color: #fff;
}

.form-container {
  background: rgba(20, 20, 35, 0.95);
  padding: 2rem;
  width: 360px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid #222;
  box-shadow: 0 0 15px rgba(0, 255, 231, 0.2), 0 0 25px rgba(122, 0, 255, 0.15);
}


.form-container h2 {
  margin-bottom: 1.2rem;
  color: #00ffe7;
  text-shadow: 0 0 6px rgba(0, 255, 231, 0.5);
  font-size: 1.6rem;
}


form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #333;
  border-radius: 6px;
  outline: none;
  background: #111;
  color: #fff;
  font-size: 14px;
  transition: 0.3s;
}

form input:focus {
  border-color: #00ffe7;
  box-shadow: 0 0 10px rgba(0, 255, 231, 0.3);
}


form button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #1e1e2f, #2b2b44);
  color: #00ffe7;
  border: 1px solid #00ffe7;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
}

form button:hover {
  background: linear-gradient(90deg, #00ffe7, #7a00ff);
  color: #fff;
  transform: scale(1.03);
}


form p {
  margin-top: 15px;
  font-size: 13px;
  color: #888;
}

form a {
  color: #00ffe7;
  text-decoration: none;
  font-weight: bold;
}

form a:hover {
  color: #7a00ff;
  text-shadow: 0 0 5px rgba(122, 0, 255, 0.4);
}

.forgot-pass {
  text-align: right;
  margin: 5px 0 15px;
}

.forgot-pass a {
  font-size: 13px;
  color: #888;
  text-decoration: none;
  transition: 0.3s;
}

.forgot-pass a:hover {
  color: #00ffe7;
  text-shadow: 0 0 5px rgba(0, 255, 231, 0.4);
}
